<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">


<head>
  <meta charset="utf-8">
    <title>Vehicle Management </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    
    </head>
<body>
	
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Vehicle Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a th:href="@{/vehicles}">Vehicle Management</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

	
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Set up New Vehicle</h1>
                <!-- The following line was corrected -->
                <div class="card-body"></div>
              
                <form th:action="@{/vehicles}" th:object="${vehicle}" method="post">
                    <div class="form-group">
                        <label>Registration Number</label>
                        <input 
                            type="text"
                            name="VehicleNo"
                          th:field="*{VehicleNo}"
                            class="form-control"
                            placeholder="Enter vehicle licence plate"
                        />
                    </div>

                    <div class="form-group">
                        <label>Location</label>
                        <input 
                            type="text"
                            name="VehicleLocation"
                         th:field="*{VehicleLocation}"
                            class="form-control"
                            placeholder="Enter vehicle location"
                        />
                    </div>
                    
                         <div class="form-group">
                        <label>Status</label>
                        <input 
                            type="text"
                            name="VehicleStatus"
                         th:field="*{VehicleStatus}"
                            class="form-control"
                            placeholder="Enter vehicle Status"
                        />
                    </div>
                    
                       <div class="form-group">
                        <label>Vendor</label>
                        <input 
                            type="text"
                            name="VehicleVendor"
                         th:field="*{VehicleVendor}"
                            class="form-control"
                            placeholder="Enter vehicle vendor"
                        />
                    </div>
                    
                     <div class="form-group">
                        <label>Manufacturer</label>
                        <input 
                            type="text"
                            name="VehicleManufacturer"
                         th:field="*{VehicleManufacturer}"
                            class="form-control"
                            placeholder="Enter vehicle vendor"
                        />
                    </div>
                    
                      <div class="form-group">
                        <label>Model</label>
                        <input 
                            type="text"
                            name="VehicleModel"
                         th:field="*{VehicleModel}"
                            class="form-control"
                            placeholder="Enter vehicle model"
                        />
                    </div>
                    
                    

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


</html>