<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">


<head>
  <meta charset="utf-8">
    <title>Driver Management </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    
  </head>

<body>


	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Drivers Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a th:href="@{/drivers}">Driver Management</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Update Driver</h1>
                <!-- The following line was corrected -->
                <div class="card-body"></div>
              
                <form th:action="@{/drivers/{id}(id=${driver.id})}"th:object="${driver}" method="post">
                    <div class="form-group">
                        <label>Driver First Name</label>
                        <input 
                            type="text"
                            name="firstname"
                          th:field="*{firstname}"
                            class="form-control"
                            placeholder="Enter Driver's first name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Driver Last Name</label>
                        <input 
                            type="text"
                            name="lastname"
                         th:field="*{lastname}"
                            class="form-control"
                            placeholder="Enter Driver's last name"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</body>


</html>